<div class="col-div-6">
    <div class="profile">
        <img src="~/Images/@ViewBag.Avatar" alt="user" class="pro-img">
        <p>
            @ViewBag.Fullname
            <span>Administrator</span>
        </p>
    </div>
</div>
